header{
	width: 100vw;
	height: 10vh;
	background-color: #00330c99;
	opacity: 95%;
}
header a{
	font-size: 2em; 			/*1em = 16px 'en general' (dependiendo del navegador).*/
	position: fixed; left: 1145px; top: 30px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px 5px #045, 3px 3px 10px 5px #045, 3px 3px 10px 5px #045;
	color: #069;	
	text-shadow: 2px 2px 5px #87ceeb;
	transition: all 0.5s;
}
header a:hover{
	transform: scale(1.1);
	transition: all 0.5s;
	color:#004466;
}
/*-----------------------------------------------------------------------------------------------------------------*/

body{
	display: flex;
	flex-direction: column;
	background-color: #99ff9999;
	width: 100vw;
	min-height: 100vh;
}

/*-----------------------------------------------------------------------------------------------------------------*/

h1{
	text-align: center;
	color:#045;
}

/*-----------------------------------------------------------------------------------------------------------------*/

#container{
	display: flex;
	width: 90vw;
	flex-direction: column;
	align-self: center;
	/*estilo(solid, dashed, double, groove, ridge, inset, outset)*/
	border: 1em double #0a291299;
	border-radius: 1.5em;
}

/*-----------------------------------------------------------------------------------------------------------------*/

#lista-santa{
	display: flex;
	height: 55vh;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	background: #e61a1a;
}
.logo img[alt="Logo de Santa Isabel"]{
	position: relative; left: 12vw; top: 5vh;
	width: 17vw;
	height: 30vh;
	border-radius: 50%;
	box-shadow: 4px 4px 20px 5px #660002, 4px 4px 20px 5px #660002, 4px 4px 20px 5px #660002;
	transition: all 0.8s;
}
.logo img[alt="Logo de Santa Isabel"]:hover{
	box-shadow: 4px 4px 20px 5px #f5a3a3, 4px 4px 20px 5px #f5a3a3, 4px 4px 20px 5px #f5a3a3;
	transform: scale(1.15);
	transition: all 0.8s;
}
.lista h2[id="h-santa"], a[href="https://www.santaisabel.cl/"]{
	color:#660002;
	transition: all 0.3s;
}
.lista h2[id="h-santa"] a[href="https://www.santaisabel.cl/"]:hover{
	font-size: 1.1em;
	transition: all 0.3s;
}
.lista ul[id="l-santa"] li{
	color:#330001;
}

/*Clases que utiliza lista-santa y lista-cyber----------------------------------------------------------------------*/

.logo{
	width: 40vw;
	height: 40vh;
}
.lista{
	width: 40vw;
	height: 40vh;
}
.lista h2{
	position: relative; top: 4vh;
}
.lista ul{
	position: relative; left: 5vw; top: 8vh;
}
.lista ul li{
	line-height: 2vw;
}

/*-----------------------------------------------------------------------------------------------------------------*/

.logo img[alt="Logo de Cyberday"]{
	position: relative; left: 1vw; top: 3vh;
	width: 43vw;
	height: 25vh;
	border-radius: 6%;
	box-shadow: 4px 4px 22px 1px #0f3d57, 4px 4px 22px 1px #0f3d57, 4px 4px 22px 1px #0f3d57;
	transition: all 0.8s;
}
.logo img[alt="Logo de Cyberday"]:hover{
	box-shadow: 4px 4px 20px 5px #a8d5f0, 4px 4px 20px 5px #a8d5f0, 4px 4px 20px 5px #a8d5f0;
	transform: rotate(8deg);
	transition: all 0.8s;
}
.lista h2[id="h-cyber"], a[href="https://www.cyber.cl/"]{
	color:#0f3d57;
	transition: all 0.3s;
}
.lista h2[id="h-cyber"] a[href="https://www.cyber.cl/"]:hover{
	font-size: 1.1em;
	transition: all 0.3s;
}
.lista ul[id="l-cyber"] li{
	color:#081e2c;
}
#lista-cyber{
	display: flex;
	height: 55vh;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	background: #33b4ff;
}

/*-----------------------------------------------------------------------------------------------------------------*/

footer{
	position: fixed; bottom: 0.05vh;
	background-color: #1d511599;
	width: 100vw;
	height: 8.5vh;
	opacity: 90%;
}

footer p1,p2{
	line-height: 2;
	color:gold;
}

#redes-sociales{
	display: inline-block;
	width: 34.5vw;
	position: relative;left: 65vw;
}
.contacto{
	width: 80px;
	margin-left: 2vw;
	font-family: Century Gothic;
	color: white;
	text-shadow: 2px 2px 7px #fff;	
}
.contacto:hover{
	color: gold;
}
footer p2{
	display: block;
	width: 38vw;
	position: relative;left: 65vw;
}
footer p2 i{
	position: relative; left: 20px;
	color :#891010;
	text-shadow: 1px 1px 3px pink;
	font-family: Century Gothic;
}


