body{
	display: flex;
	flex-direction: column;
	background: #000;
	width: 100vw;
	min-height: 180vh;
}

/*-----------------------------------------------------------------------------------------------------------*/

header{
	width: 100vw;
	height: 10vh;
	background-color: #6dd55d99;
	opacity: 80%;
}
header a{
	font-size: 2em; 			/*1em = 16px 'en general' (dependiendo del navegador).*/
	position: fixed; left: 1150px; top: 30px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px 5px #045, 3px 3px 10px 5px #045, 3px 3px 10px 5px #045;
	color: #069;	
	text-shadow: 2px 2px 5px #87ceeb;
	transition: all 0.5s;
}
header a:hover{
	transform: scale(1.1);
	transition: all 0.5s;
	color:#004466;
}

/*-----------------------------------------------------------------------------------------------------------------*/

#container{
	display: flex;
	width: 100vw;
	margin-top: 1em;
	flex-direction: row;
	background-image: url("../img/RAMBOLASTBLOOD1.jpg");
	border: .8em dashed #cc0000;
}

/*-----------------------------------------------------------------------------------------------------------------*/

.pelicula{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pelicula h1{
	font-family: 'Metal Mania', cursive;
	font-size: 2.5em;
	margin: .8em 0;
	color:#990000;
	text-shadow: 1px 1px 6px #ff3333;
}
.pelicula video{
	width: 70%;
	height: 80%;
	border: 1em double #00330c99;
	border-radius: 1em;
}

/*-----------------------------------------------------------------------------------------------------------------*/

/*<p>Los mejores instrumentos es Ibanez.. </p>*/
/*<p>
Visita la pagina <a href="https://www.audiomusica.com/marcas/ibanez.html" target="_BLANK">audiomusica.com</a> y conoce instrumentos Ibanez
</p>*/

aside{
	position: fixed; left: 41.5em; top: 12em;
	width: 112px;
	height: 50px;
	padding-left: 10px;
	padding-top: 7px;
	font-size: 2em;
	color: #00a2cc;
	text-shadow: 2px 2px 7px #66ccff;
	border-top-left-radius: 25%;
	border-bottom-left-radius: 25%;
	box-shadow: -2px -2px 5px 2px  #00330c99;
	transition: left .7s, width .7s, color 2s;

}
aside:hover{
	left: 35em;
	width: 10em;
	text-shadow: none;
	color: transparent;
	transition: left .7s, width .7s, color .8s;
}

/*-----------------------------------------------------------------------------------------------------------------*/

article{
	display: flex;
	width: 100vw;
	height: 100vh;
	padding-top: 2em;
	background-image: url("../img/RAMBOLASTBLOOD.jpg");
	justify-content: center;
	align-items: center;
}
article section{
	display: flex;
	width: 50vw;
	height: 95.5vh;
	flex-direction: column;	
	background: #0f290b99;
}
section #sinopsis{
	height: 12em;
}
section #sinopsis img{
	width: 100%;
	height: 100%;
	border: 1px solid #cc0000;
	
}
section #sinopsis h2{
	position: relative;
	text-align: center;
	margin-top: .5em;
	color: #00a2cc;
	text-shadow: 2px 2px 10px #00ccff;
}
section p{
	margin-top: 5em;
	line-height: 2em;
	padding: 0em 1em;
	color: #990000;
	text-shadow: 1px 1px 8px #cc0000;
}

/*-----------------------------------------------------------------------------------------------------------------*/

footer{
	position: fixed; bottom: 0.05vh;
	background-color: #1d511599;
	width: 100vw;
	height: 8.5vh;
	opacity: 85%;
}
footer p1,p2{
	line-height: 2;
	color:gold;
}

#redes-sociales{
	display: inline-block;
	width: 34.5vw;
	position: relative;left: 65vw;
}
.contacto{
	width: 80px;
	margin-left: 2vw;
	font-family: Century Gothic;
	color: white;
	text-shadow: 2px 2px 7px #fff;	
}
.contacto:hover{
	color: gold;
}
.contacto img{
	margin-left: .5em;
}
footer p2{
	display: block;
	width: 38vw;
	position: relative;left: 65vw;
}
footer p2 i{
	position: relative; left: 20px;
	color :#891010;
	text-shadow: 1px 1px 3px pink;
	font-family: Century Gothic;
}