body{
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
	background: #99ff9999;
}

/*--------------------------------------------------------------------------------------------------------------*/

header{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 10vh;
	background-color: #00330c99;
	opacity: 90%;
}
header a{
	position: fixed;
	align-self: flex-end;
	margin-right: 1.5%;
	margin-top: 1.5%;
	font-size: 2em; 			/*1em = 16px 'en general' (dependiendo del navegador).*/
	border-radius: 5px;
	box-shadow: 3px 3px 10px 5px #045, 3px 3px 10px 5px #045, 3px 3px 10px 5px #045;
	color: #0088cc;	
	text-shadow: 2px 2px 5px #87ceeb;
	transition: all 0.5s;
}
header a:hover{
	color:#00aaff;
	text-shadow: 2px 2px 5px #a8dbf0;
	transform: scale(1.1);
	transition: all 0.5s;
}

/*--------------------------------------------------------------------------------------------------------------*/

h1{
	text-align: center;
	color:#045;
}

/*--------------------------------------------------------------------------------------------------------------*/

.noticia{
	display: grid;
	height: 600px;
	grid-template-rows: 5% 15% 80%;
	margin: .5% 8%;
	background: #d3f8d3;
	border: 2px double #00aaff;
}
.noticia .salto{
	width: 11%;
	margin-left: 1%;
	margin-top: .5%;
	text-decoration: none;
	color: #006199;
	transition: all 0.3s;
}
.noticia .salto:hover{
	transform: scale(1.112);
	transition: all 0.3s;
}
h2{
	text-align: center;
	color: #007a99;
	text-shadow: 2px 2px 5px #66e0ff;
}
.informacion{
	display: grid;
	grid-template-columns: 60% 40%;
}
.informacion p{
	margin: 0 5%;
	line-height: 2em;
	color: #045;
}
.informacion .img-info{
	margin-right: 2%;
	margin-top: 5%;
}
.img-info img{
	border-radius: .5em;
	/*estilo(solid, dashed, double, groove, ridge, inset, outset)*/
	border: 4px double #007a99;
}

/*-----------------------------------------------------------------------------------------------------------------*/

footer{
	position: fixed; bottom: 0.05vh;
	background-color: #1d511599;
	width: 100vw;
	height: 8.5vh;
	opacity: 95%;
}
footer p1,p2{
	line-height: 2;
	color:gold;
}
#redes-sociales{
	display: inline-block;
	width: 34.5vw;
	position: relative;left: 65vw;
}
.contacto{
	width: 80px;
	margin-left: 2vw;
	font-family: Century Gothic;
	color: white;
	text-shadow: 2px 2px 7px #fff;	
}
.contacto:hover{
	color: gold;
}
.contacto img{
	margin-left: .5em;
}
footer p2{
	display: block;
	width: 38vw;
	position: relative;left: 65vw;
}
footer p2 i{
	position: relative; left: 20px;
	color :#891010;
	text-shadow: 1px 1px 3px pink;
	font-family: Century Gothic;
}